n8n_workflows/main-orchestration.json
{
  "name": "main-orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c242d9aa-f92a-410c-9911-cae1e2c3584e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -80
      ],
      "webhookId": "f0ad9aa0-8119-4331-bb6a-7f541203fb31"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W0iQb5K6BwdfxZKv",
          "mode": "list",
          "cachedResultUrl": "/workflow/W0iQb5K6BwdfxZKv",
          "cachedResultName": "agent-email-summarizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.body.message }}",
            "userEmail": "={{ $json.body.userEmail }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ded4b655-fa23-41ab-8517-54045e40cfda",
      "name": "Execute Email Summarizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        -368
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5bXqWRZuYC2hia0n",
          "mode": "list",
          "cachedResultUrl": "/workflow/5bXqWRZuYC2hia0n",
          "cachedResultName": "agent-email-composer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('Webhook Trigger').item.json.body.message }}",
            "userEmail": "={{ $('Webhook Trigger').item.json.body.userEmail }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6549e270-1a48-4537-b429-0afe482d272f",
      "name": "Execute Email Composer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        -176
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "G8VfXbSMHWx2Dsdt",
          "mode": "list",
          "cachedResultUrl": "/workflow/G8VfXbSMHWx2Dsdt",
          "cachedResultName": "agent-calendar-scheduler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.body.message }}",
            "userEmail": "={{ $json.body.userEmail }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a3d53d4c-37b8-4cc9-8721-05760882e7e0",
      "name": "Execute Calendar Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gHMoG7wL844POh0b",
          "mode": "list",
          "cachedResultUrl": "/workflow/gHMoG7wL844POh0b",
          "cachedResultName": "agent-research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.body.message }}",
            "userEmail": "={{ $json.body.userEmail }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6a90dbf1-20f7-423f-bef6-25d0f781d781",
      "name": "Execute Research",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "result",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "d6e756d6-66ea-44ad-883f-d7515de6920b",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee2fc5a7-66c4-40df-9a38-7b67e1131788",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1168,
        -80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Message a model').item.json.content }}",
                    "rightValue": "email_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f67cbff4-76e7-417f-bc6c-24d0e1c24884"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email Summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb9c766d-7b70-4db0-929d-9ff6eb3c7937",
                    "leftValue": "={{ $('Message a model').item.json.content }}",
                    "rightValue": "email_compose",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email Compose"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "856da778-d472-4aaf-896f-135d2e4c06cd",
                    "leftValue": "={{ $('Message a model').item.json.content }}",
                    "rightValue": "calendar_schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calendar Schedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbb7d3fa-a604-459c-81a9-1843f05c1865",
                    "leftValue": "={{ $('Message a model').item.json.content }}",
                    "rightValue": "research_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Research Query"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        -112
      ],
      "id": "1c74722c-12f3-4ccd-a5ad-62ac9c735422",
      "name": "Agent Router"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3:latest",
          "mode": "list",
          "cachedResultName": "llama3:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an intent classification system.\n\nClassify the user request into exactly ONE of the following intents:\n\nemail_summary\nemail_compose\ncalendar_schedule\nreminder_create\nresearch_query\n\nRules:\n- Return ONLY the intent name.\n- Do NOT explain.\n- Do NOT add extra text.\n\nUser message:\n{{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ],
      "id": "e8bf8c9d-74fa-491a-af3d-e95eb41907f0",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "77hzUs4YLEuNCeQ2",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cc6d6b9-28af-4ae2-9ea9-f5cfb07363c5",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -80
      ],
      "id": "da9b0ac6-effb-4ab6-85ca-a2e82bd45643",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Email Summarizer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Email Composer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Calendar Scheduler": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Research": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Router": {
      "main": [
        [
          {
            "node": "Execute Email Summarizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Email Composer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Calendar Scheduler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "556e31d4-de9d-44bb-9f09-d175c6e1553b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2cc20001a7bf374378dc48bece60cf5f3d6412e01d593bd748617b31aa4f067"
  },
  "id": "V5noMgGQAfKDNlKu",
  "tags": []
}